/* filepath: /c:/Users/xavie/OneDrive/Documents/UNIR/Máster Ingeniería de Software/Desarrollo web fullstack/Actividades/Actividad1/relatos-de-papel/src/pages/CartPage/CartPage.scss */
.cart-page {
  padding: 20px;
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

.btn-confirm {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-confirm:hover {
  background-color: #45a049;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #e53935;
}

.btn-trash {
  background: none;
  border: none;
  cursor: pointer;
  color: #f44336;
}