.info-book-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    &:hover{
        background: #f2f2f2;
    }
}

.img-info{
    width: 150px;
    height: 220px;
}

.card-lista-book{
    padding-bottom: 0px;
    background: #f2f2f2;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 45%;
}

.btn-icon{
    border: none;
    padding: 0.5rem;
    margin: 0 0.2rem;
    &:hover{
        opacity: 0.8;
    }
}

.linea-horizontal {
    width: 90%;
    border-top: 1px solid black;
    margin: 10px auto;
}

.text-author{
    color: #cf615d;
}

@media (max-width: 991px){
    .card-lista-book{
        width: 70%;
    }
}

@media (max-width: 560px){
    .card-lista-book{
        width: 95%;
    }
}