.novedades-container{
    border-bottom: 1px solid #dee2e6;
    position: relative;
}

.novedades-container__display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BackcolorPrimary {
    background-color: #cf615d !important;
}